$font-size:          13px;
$line-height:        1.5;
$font-square:        NanumSquare, 'Malgun Gothic' , sans-serif;
$font-pw:            'Malgun Gothic' , sans-serif;

/* 경로 */
$path:                "../../assets/images/";
$font-path:           "../../assets/fonts/";

/* 색상 */
$white-color:         #fff;
$base-color:          #ddd;
$point-color: #884edf;
