@charset "UTF-8";

.list_page {
    .btn_area {
        text-align: right;
    }
    .blog_list {
        .item {
            +.item {
                border-top: 1px solid #333;
            }

            > a {
                display: block;
                padding: 40px 0;
            }

            .subject {
                color: #333;
                font-size: 25px;
                font-weight: 700;
            }

            .desc {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #333;
                font-size: 15px;
            }

            .date_info {
                margin-top: 25px;
            }
        }
    }
}