@charset "UTF-8";

.write-area {
    .subject_area {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-bottom: 50px;
    }

    .category {
        display: table-cell;
        width: 200px;

        select {
            display: inline-block;
            width: 100%;
            padding: 12px 20px;
            border: 0;
            border-bottom: 1px solid #333;
            font-size: 16px;
        }

        + .category {
            padding-left: 10px;
        }
    }

    .title {
        display: table-cell;
        padding-left: 10px;

        input {
            width: 100%;
            padding: 10px 20px;
            border: 0;
            border-bottom: 1px solid #333;
            font-size: 16px;
        }
    }
}